<h1>Política de privacidad</h1>
<p>Última actualización: 17 de diciembre de 2020</p>
<p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
<p>Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, Usted acepta la recopilación y el uso de la información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Generador de Política de Privacidad</a>.</p>
<h1>Interpretación y definiciones</h1>
<h2>Interpretación</h2>
<p>Las palabras cuya letra inicial está en mayúsculas tienen significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
<h2>Definiciones</h2>
<p>Para los propósitos de esta política de privacidad:</p>
<ul>
<li>
<p><strong>Account</strong> significa una cuenta única creada para que Usted acceda a nuestro Servicio o a partes de nuestro Servicio.</p>
</li>
<li>
<p><strong>Compañía</strong> (referido como &quot;la Compañía&quot;, &quot;Nosotros&quot;, &quot;Nosotros&quot; o &quot;Nuestro&quot; en este Acuerdo) se refiere a Red Bicicletas.</p>
</li>
<li>
<p><strong>Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contiene los detalles de su historial de navegación en ese sitio web entre sus muchos usos.</p>
</li>
<li>
<p><strong>País</strong> se refiere a:  Paraguay</p>
</li>
<li>
<p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio como un ordenador, un teléfono móvil o una tableta digital.</p>
</li>
<li>
<p><strong>Datos Personales</strong> es cualquier información que se relacione con un individuo identificado o identificable.</p>
</li>
<li>
<p><strong>Service</strong> se refiere al sitio web.</p>
</li>
<li>
<p><strong>Service Provider</strong> significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a terceras empresas o individuos empleados por la Compañía para facilitar el Servicio, para proporcionar el Servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o para ayudar a la Compañía en el análisis de cómo se utiliza el Servicio.</p>
</li>
<li>
<p><strong>Servicio de Medios Sociales de Terceros</strong> se refiere a cualquier sitio web o cualquier sitio web de red social a través de la cual un usuario puede ingresar o crear una cuenta para utilizar el Servicio.</p>
</li>
<li>
<p><strong>Usage Data</strong> se refiere a los datos recogidos automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
</li>
<li>
<p><strong>Website</strong> se refiere a Red Bicicletas, accesible desde <a href="https://redbicicletas-web.herokuapp.com/" rel="external nofollow noopener" target="_blank">https://redbicicletas-web.herokuapp.com/</a></p>
</li>
<li>
<p><strong>Tú</strong> significa el individuo que accede o utiliza el Servicio, o la empresa, u otra entidad legal en nombre de la cual dicho individuo accede o utiliza el Servicio, según corresponda.</p>
</li>
</ul>
<h1>Recoger y usar sus datos personales</h1>
<h2>Tipos de datos recogidos</h2>
<h3>Datos personales</h3>
<p>Al utilizar nuestro servicio, podemos pedirle que nos proporcione cierta información de identificación personal que puede ser usada para contactarle o identificarle. La información de identificación personal puede incluir, pero no se limita a:</p>
<ul>
<li>
<p>Dirección de correo electrónico</p>
</li>
<li>
<p>Nombre y apellido</p>
</li>
<li>
<p>Datos de uso</p>
</li>
</ul>
<h3>Datos de uso</h3>
<p>Los datos de uso se recogen automáticamente cuando se utiliza el Servicio.</p>
<p>Los datos de uso pueden incluir información como la dirección del Protocolo de Internet de su dispositivo (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que usted visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas, los identificadores únicos del dispositivo y otros datos de diagnóstico.</p>
<p>Cuando usted accede al Servicio por o a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluyendo, pero no limitándose, al tipo de dispositivo móvil que usted utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, los identificadores únicos del dispositivo y otros datos de diagnóstico.</p>
<p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio por o a través de un dispositivo móvil.</p>
<h3>Tecnologías de rastreo y cookies</h3>
<p>Usamos Cookies y tecnologías de rastreo similares para rastrear la actividad en Nuestro Servicio y almacenar cierta información. Las tecnologías de rastreo utilizadas son balizas, etiquetas y scripts para recoger y rastrear información y para mejorar y analizar Nuestro Servicio.</p>
<p>Puede instruir a su navegador para que rechace todas las Cookies o para que indique cuando se envía una Cookie. Sin embargo, si no acepta las Cookies, no podrá utilizar algunas partes de nuestro Servicio.
<p>Las galletas pueden ser &quot;Persistente&quot; o &quot;Sesión&quot; Galletas. Las cookies persistentes permanecen en su ordenador personal o dispositivo móvil cuando Usted se desconecta, mientras que las cookies de sesión se eliminan tan pronto como Usted cierra su navegador. Más información sobre las cookies: <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank">¿Qué son las Cookies?</a>.</p>
<p>Usamos tanto cookies de sesión como persistentes para los propósitos que se establecen a continuación:</p>
<ul>
<li>
<p><strong>Necesario / Galletas esenciales</strong></p>
<p>Tipo: Cookies de sesión</p>
<p>Administrada por: Nosotros</p>
<p>Propósito: Estas Cookies son esenciales para proveerle con servicios disponibles a través del Sitio Web y para permitirle usar algunas de sus características. Ayudan a autentificar a los usuarios y a prevenir el uso fraudulento de las cuentas de los usuarios. Sin estas Cookies, los servicios que Usted ha solicitado no pueden ser proporcionados, y nosotros sólo utilizamos estas Cookies para proporcionarle esos servicios.</p>
</li>
<li>
<p><strong>Política de cookies / Aceptación de cookies </strong></p>
<p>Tipo: Cookies persistentes</p>
<p>Administrada por: Nosotros</p>
<p>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
</li>
<li>
<p><strong>Funcionalidad Cookies</strong></p>
<p>Tipo: Cookies persistentes</p>
<p>Administrada por: Nosotros</p>
<p>Propósito: Estas Cookies nos permiten recordar las elecciones que haces cuando usas el sitio web, como recordar tus datos de acceso o la preferencia de idioma. El propósito de estas Cookies es proporcionarle una experiencia más personal y evitar que tenga que volver a introducir sus preferencias cada vez que utilice el sitio web.
</li>
</ul>
<p>Para más información sobre las cookies que utilizamos y sus opciones en relación con las cookies, por favor visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
<h2>Uso de sus datos personales</h2>
<p>La Compañía puede utilizar los datos personales para los siguientes propósitos:</p>
<ul>
<li><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluyendo el monitoreo del uso de nuestro Servicio.</li>
<li>>strong> para gestionar su cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que Usted proporciona pueden darle acceso a diferentes funcionalidades del Servicio que están disponibles para Usted como usuario registrado.</li>
<li><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y compromiso del contrato de compra de los productos, artículos o servicios que ha comprado o de cualquier otro contrato con nosotros a través del Servicio.</li>
<li><strong>Para contactarlo:</strong> Para contactarlo por correo electrónico, llamadas telefónicas, SMS, u otras formas equivalentes de comunicación electrónica, como las notificaciones push de una aplicación móvil sobre actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluyendo las actualizaciones de seguridad, cuando sean necesarias o razonables para su implementación.</li>
<li><strong>Proveerle a Ud. </strong> noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos y que son similares a los que Ud. ya ha comprado o consultado, a menos que haya optado por no recibir dicha información.</li>
<li><strong>Para gestionar sus peticiones:</strong> Para atender y gestionar sus peticiones a Us.</li>
</ul>
<p>Podemos compartir su información personal en las siguientes situaciones:</p>
<ul>
<li><strong>Con los proveedores de servicios:</strong> podemos compartir su información personal con los proveedores de servicios para monitorear y analizar el uso de nuestro servicio, para contactarlo.</li>
<li><strong>Para las transferencias de negocios:</strong>Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de cualquier fusión, venta de activos de la empresa, la financiación o la adquisición de la totalidad o una parte de nuestro negocio a otra empresa.</li>
<li><strong>With Affiliates:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso les exigiremos que respeten esta Política de Privacidad. Los afiliados incluyen Nuestra casa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras compañías que controlamos o que están bajo control común con Nosotros.</li>
<li><strong> Con los socios de negocios:</strong> Podemos compartir su información con nuestros socios de negocios para ofrecerle ciertos productos, servicios o promociones.</li>
<li><strong>Con otros usuarios:</strong> cuando comparta información personal o interactúe de alguna otra manera en las áreas públicas con otros usuarios, dicha información podrá ser vista por todos los usuarios y podrá ser distribuida públicamente en el exterior. Si Usted interactúa con otros usuarios o se registra a través de un Servicio de Medios Sociales de Terceros, Sus contactos en el Servicio de Medios Sociales de Terceros pueden ver Su nombre, perfil, fotos y descripción de Su actividad. Del mismo modo, otros usuarios podrán ver descripciones de Su actividad, comunicarse con Usted y ver Su perfil.</li>
</ul>
<h2>Retención de sus datos personales</h2>
<p>La Compañía retendrá sus datos personales sólo durante el tiempo necesario para los fines establecidos en esta Política de Privacidad. Retendremos y utilizaremos sus Datos Personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si se nos exige retener sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
<p>La Compañía también retendrá los datos de uso para fines de análisis interno. Los Datos de Uso se conservan generalmente por un período de tiempo más corto, excepto cuando estos datos se utilizan para reforzar la seguridad o mejorar la funcionalidad de Nuestro Servicio, o estamos legalmente obligados a conservar estos datos por períodos de tiempo más largos.</p>
<h2> Transferencia de sus datos personales</h2>
<p>Su información, incluyendo los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que esta información puede ser transferida a - y mantenida en - computadoras ubicadas fuera de Su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de Su jurisdicción.</p>
<p>Su consentimiento a esta Política de Privacidad seguido de su presentación de dicha información representa su acuerdo con esa transferencia.</p>
<p>La Compañía tomará todas las medidas razonablemente necesarias para asegurar que Sus datos sean tratados de forma segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna transferencia de Sus Datos Personales a una organización o a un país a menos que existan controles adecuados, incluyendo la seguridad de Sus datos y otra información personal.</p>
<h2> Revelación de sus datos personales</h2>
<h3>Transacciones comerciales</h3>
<p>Si la Compañía está involucrada en una fusión, adquisición o venta de activos, sus datos personales pueden ser transferidos. Le avisaremos antes de que sus datos personales sean transferidos y estén sujetos a una política de privacidad diferente.
<h3>Aplicación de la ley</h3>
<p>En determinadas circunstancias, la Compañía puede ser obligada a revelar sus datos personales si así lo exige la ley o en respuesta a solicitudes válidas de las autoridades públicas (por ejemplo, un tribunal o un organismo gubernamental).</p>
<h3>Otros requisitos legales</h3>
<p>La Compañía puede revelar sus datos personales en la creencia de buena fe que tal acción es necesaria para:</p>
<ul>
<li> Cumplir con una obligación legal</li>
<li>Proteger y defender los derechos o la propiedad de la Compañía.</li>
<li>Prevenir o investigar posibles fechorías en relación con el Servicio</li>
<li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
<li>Proteger contra la responsabilidad legal</li>
</ul>
<h2>Seguridad de sus datos personales</h2>
<p>La seguridad de sus datos personales es importante para nosotros, pero recuerde que ningún método de transmisión por Internet, o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.
<h1>Sus Derechos de Privacidad de California (Ley de California "Shine the Light")</h1>
<p>En virtud del Código Civil de California, sección 1798 (Ley Shine the Light de California), los residentes de California con una relación comercial establecida con nosotros pueden solicitar información una vez al año acerca de cómo compartir sus datos personales con terceros para fines de comercialización directa de los terceros.</p>
<p>Si desea solicitar más información en virtud de la ley de California Shine the Light, y si usted es un residente de California, puede ponerse en contacto con nosotros utilizando la información de contacto proporcionada a continuación.</p>
<h1>Derechos de privacidad de California para usuarios menores de edad (Código de Negocios y Profesiones de California Sección 22581)</h1>
<p>El Código de Negocios y Profesiones de California, sección 22581, permite a los residentes de California menores de 18 años, que son usuarios registrados de sitios, servicios o aplicaciones en línea, solicitar y obtener la eliminación del contenido o la información que han publicado.</p>
<p>Para solicitar la eliminación de dichos datos, y si usted es un residente de California, puede ponerse en contacto con nosotros utilizando la información de contacto proporcionada a continuación, e incluir la dirección de correo electrónico asociada a su cuenta.</p>
<p>Sea consciente de que su solicitud no garantiza la eliminación completa o exhaustiva del contenido o la información publicada en línea y que la ley puede no permitir o exigir la eliminación en determinadas circunstancias.</p>
<h1>Enlaces a otros sitios web</h1>
<p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
<p>No tenemos control y no asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de cualquier sitio o servicio de terceros.</p>
<h1>Cambios a esta Política de Privacidad</h1>
<p>Podemos actualizar nuestra política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.
<p>Le informaremos por correo electrónico y/o mediante un aviso destacado en nuestro servicio, antes de que el cambio sea efectivo y actualizaremos la fecha en la parte superior de esta política de privacidad.</p>
<p>Se le aconseja revisar esta Política de Privacidad periódicamente para cualquier cambio. Los cambios en esta Política de Privacidad son efectivos cuando se publican en esta página.
<h1>Contactar con nosotros</h1>
<p>Si tiene alguna pregunta sobre esta política de privacidad, puede ponerse en contacto con nosotros.</p>
<ul>
<li> Por correo electrónico: mariosnash@gmail.com </li>
</ul>