extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    br

    h1 Actualizando Bicicleta

    br 
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .form-group
            label(for='id') ID:
            input#id(type='number' name='id' value=bici.num_id disabled)
            br
        .form-group
            label(for='color') Color:
            input#color.form-control(type='text' name='color' value=bici.color class=errors.color ? 'is-invalid' : '')
            if errors.color
                small#colorHelp.text-danger
                    = errors.color.message
        .form-group
            label(for='modelo') Modelo:
            input#modelo.form-control(type='text' name='modelo' value=bici.modelo class=errors.modelo ? 'is-invalid' : '')
            if errors.modelo
                small#modeloHelp.text-danger
                    = errors.modelo.message
        .form-group
            label(for='lat') Latitud:
            input#lat(type='number' name='lat' value=bici.ubicacion[0])
        .form-group
            label(for='lng') Longitud:
            input#lng(type='text' name='lng' value=bici.ubicacion[1])
        .form-group
            input.btn(type='submit' value='OK')
